body{
	font-family: 'Raleway', sans-serif;

}

#fotoFondo{
	width: 800px;
	height: 450px;
	opacity: 0.35;
	position: relative;
	
}

#TamañoT{
	background-color: #292F30;
	width: 800px;
	height: 450px;
	margin: auto;
	position: relative;
	margin-top: 100px;
}



/*-----------------------------------------------------*/
#Foto{
width: 300px;
height: 450px;
position: absolute;
top: 10px;
clip: rect(150px,10px,5px,500px);
}

#fotoPerfil{
width: 200px;
height: 200px;
margin-left: 50px;
margin-top: 90px;
opacity: 0.9;

}




#Informacion{
	width: 508px;
	text-align: left;
	color: white;
	top: 60px;
	left: 300px;
	position: absolute;
}

.h2{
	color: white;
}

#n{
	padding-top: 10px;
	opacity: 0.4;
	color: #000;
 
    text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
    
}

#Nombre{
	width: 98.5%;
	height: 50px;
	margin-top: 30px;
	text-align: center;
	background-color: #F9DE4D;
	opacity: 0.85;

	
}

#Ocupacion{
	margin-top: 5px;
	font-size: 16px;
	text-align: center;
	opacity: 0.7;
}

.Icono{
	width: 25px;
	height: 25px;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 10px;
	opacity: 0.8;
}

.Texto{
	font-size: 15px;
	opacity: 0.8;
	width: 400px;
	display: inline-flex;
}

.IconoEmail{
	width: 30px;
	height: 25px;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 10px;
	opacity: 0.9;
}

.Datos{
	height: 40px;
}


/*------------------------------------------------------------*/
#BarraFinal{
  width: 800px;
  height: 80px;
  
  top: 400px;
  position: absolute;
  margin-bottom: 0px;

}

#TextoFinal{
  text-align: center;
  font-size: 10px;
  color: white;
  opacity: 0.8;
  margin:0px;
}

#RedesSociales{
  position: absolute;
  width: 400px;
  margin:auto;
  margin-left: 270px;
  margin-top: 10px;
  
}

.IconoRed{
  display: inline-block;
  float: left;
  height: 40px;
  width: 100px;
  margin-bottom: 10px;

}

.icono{
  height: 40px;
  width: 40px;
  opacity: 0.7;
  margin: 0px 20px 10px 20px;
}

